
.cart__form{
    width: 100%;
    background: rgb(57, 15, 124);
}
.cart__form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__form-container h1{
    font-size: 36px;
    line-height: 55px;
    margin: 2rem 0;
    color: white;
}

.cart__form-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
   
}

.cart__form-form .form-group{
    margin-bottom: 2rem;
}

.form-group label{
    display: block;
    color: white;
    font-weight: bold;
    
}

.form-group input{
    width: 200px;
    height: 25px;
    outline: none;
}

.cart__form-container button{
    outline: none;
    width: 100px;
    height: 30px;

    font-size: 20px;
    font-weight: bold;
    color: red;
    margin: 2rem 0 2rem 3rem;
    
}